@import '../../../styles/lib/var'; 

.option{
    li:first-child {
        padding-top: 2em;
    }
    .selectionBox:hover, focus:hover{
        cursor: pointer;
        color: $orange;
        border-color: $orange;
        .person, li{
            color: $orange;
        }
    }
    .focus { 
        width: 5em;
        height: 4em;
        color: $pink;
        border-radius: 0.5vw;
        display: inline-block;
        border: 0.4vw solid $pink;
        margin: 1em 5vw;
        .person{
            color: $pink;
        }
        li {
            font-size: 0.45em;
            padding-top: 0.25em;
            font-weight: bold;
        }
    }
    .selectionBox{
        width: 5em;
        height: 4em;
        border-radius: 0.5vw;
        display: inline-block;
        border: 0.4vw solid $black;
        margin: 1em 5vw;
        color: $green;
        li {
            font-size: 0.45em;
            padding-top: 0.25em;
        }

    }
    .optionContainer {
        margin-bottom: 1em;
    }
    .robot {
        color: $green;
    }
    .person{
         color: $pink;
     }
     .iconOption{
         font-size: 4em;
     }
}