@import '../../../styles/lib/var'; 

.option{
    li:first-child {
        padding-top: 5em;
    }
    .choose:hover{
        cursor: pointer;
    }
     .choose{
        width: 5em;
        height: 4em;
        margin: 1em 5vw;
        color: $green;
        border-radius: 0.5vw;
        display: inline-block;
        border: 0.4vw solid $black;
        

        li {
            color: $black;
            font-size: 0.45em;
            padding-top: 0.25em;
        }
     }
     .person{
         color: $pink;
     }
     .iconOption{
         font-size: 4em;
     }
}